


.blo 
{
	border-style:solid;
	
}


#main_menu
{
	
	border-width:5px;
	width:90%;
	height:90%;
	border-radius:5px;
	left:5%;
	top:5%;
	position:absolute;
	
}

#titulnik
{
	height:90%;
	width:100%;
	
}


.verti
{
	grid-template-columns:100%;
	grid-template-rows:5% auto;
	display:grid;
}



.horizo
{
	grid-template-columns:20% auto;
	grid-template-rows:100%;
	display:grid;
}


.lmenu
{
	display:grid;
	grid-template-columns:100%;
	grid-template-rows:5% 11% 11% 11% 11% 11% 11% 11%;
}


.inputa
{
	display:grid;
	grid-template-columns:100%;
	grid-template-rows: 50% auto;
}

.knopka
{
	background-color:#c100f7;
	height:90%;
	width:90%;
	left:5%;
	top:5%;
}

.knopka:hover
{
	background-color:#110044;
	
}


.rmenu
{
	display:grid;
	grid-template-columns:100%;
	grid-template-rows: 20% auto;
}



.vyvody
{
	display:grid;
	grid-template-columns:100%;
	grid-template-rows: 50% auto;
	
	
}

