.ramka
	{
		background-color:#009097;
		border-style:solid;
		border-width:4px;
		border-radius:5px;
		width:300px;
		height:300px;
	}

body
	{
		background-color:#32CD32;
	}

.zapiska
	{
		font-size:3em;
		position:relative;
		top:100px;
	}