

body
	{
		background-color:#556B2F;
		
	}

.mm_menu
	{
		position:absolute;
		border-style:solid;
		border-width:1px;
		top:5%;
		left:5%;
		width: 90%;
		height:90%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows:10% auto;
	}
.mm_anchors
	{
		height:100%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 100%/3 100%/3 100%/3;
		
	}
	
.mm_knopka
	{
		position:relative;
		height: min(30px,10%);
		width: 90%;
		left: 5%;
		
	}	

.main_menu
	{
		width:90%;
		height:90%;
		left:5%;
		position:absolute;
		top:3%;
	}


.telo
	{
		background-color:#228B22;
		
	}


.ramka
	{
	border-style:solid;
	border-width:5px;
	border-radius:15px;
	}


.bloq
	{
		position:absolute;
		background-color:#7CFC00;
	}


.centrovoi
	{
		position:relative;
		left:4%;
		width:90%;
		
	}

	
.knopka	
	{
		height:80%;
		width:80%;
		position:relative;
		left:10%;
		top:10%;
		background-size:cover;
		
	}

.knopka_text
	{
		position:relative;
		width:100%;
		top:7%;
		left:7%;
		text-align:left;
		user-select:none;
		
	}
.obertka_knopka
	{
	width:100%;
	height:100%;
	border-radius:10px;
	}
.obertka_knopka:hover
	{
		backdrop-filter:blur(10px) brightness(60%);
	}

.obertka_knopka:hover .knopka_text
	{
		color:#ffffff;
		left:20%;
		top:40%;
		width:50%;
		
	}
	
@font-face {
    font-family: BB; /* Гарнитура шрифта */
    src: url(fonts/Heart_Breaking_Bad.otf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: BCS; /* Гарнитура шрифта */
    src: url(fonts/DancingScript.ttf); /* Путь к файлу со шрифтом */
   }